<section class="indiTrip">
    <div class="indiTripRows ">
        <div class="inditripCols col-4">
        {{#each data.trip}}
            <h1>{{trip_name}}</h1>
            <p>  {{trip_info}}
            </p>
        {{/each}}
            {{!-- <a href="/journals" class="indiTripButton" type="button">Write About Your Trip</a> --}}
        </div>


        <div class="inditripAttractions">

            {{#each data.attraction}}
            <div class="indiTripCards" style="background-image:url({{this.attraction_photo}})">
                <h2>{{this.attraction_name}}</h2>
                <p>{{this.attraction_introduction}}</p>
                <button id="" class="removeAttraction btn btn-primary btn-sm" data-id="{{this.ids}}">Delete</button>
                
            </div>
            {{/each}}
            

        </div>


</section>