<!--Container for the whole page-->
<div class="container">



<!--Container for the top bar with profile name/picture/cover photo-->
<div class="profileTopBar">
    <div id="profilePic">
        <img src="default.png">
    </div>
    <div id="profileTopName">
        <h1>{{user}}</h1>
    </div>
</div>


<!--Div for country of origin and join date-->
<div class="profileLeftBar">
    <p>Member Since:{{user.created_at}}</p>
</div>




<!--Container that displays the user's timeline, in reverse chronological order-->
<div class="timeline">
    {{#each journals}}
    <div class="post">
        <span class="postContent"><textarea data-id="{{id}}">{{content}}</textarea></span>
    </div>
    {{/each}}
</div>

<!--Ending Div-->
</div>

<script type="text/javascript">
    const user = "{{user}}";
</script>