<div id="searchs">
{{#eachUnique content}}

<section class="search_secOne" style="background: url({{photo}}) no-repeat center center;background-size: cover;">


</section>
<div id={{id}} class="district_title">
    <h1><span style="color:#ff5d5d;">Explore</span><span>{{name}}</span></h1>
</div>
<div class="district_intro">
    <h3><span>{{introduction}}</span></h3>
</div>
<section class="search_secAtt">
    {{/eachUnique}}
    <div class="attraction_container">
        <h2>Attractions</h2>
        </br>
        <div class="row">

            {{#each content}}
            <div class="card ">
                <div class="card-title" style=" margin-top: 10px;">
                    <span>
                        <h5>{{att_name}}</h5>
                    </span>
                    <span><i class="fa fa-heart heart"></i></span>
                </div>
                <img src={{att_photo}} class="card-img-top" width="200px" height="150px" alt="...">
                <div class="card-body">
                    <p class="card-text">{{att_intro}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section class="search_secJour">
<div class="journal_container">
        <h2>Journals</h2>
        </br>
</section>
</div>